/* SideBar */

h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}
header {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  color: #fff;
}

.profile {
  border-radius: 50%;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.my-info {
  margin-bottom: 440px;
}

ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline;
  padding-right: 20px;
  padding-left: 25px;
}

a {
  color: white;
}

.fa-a:before {
  font-family: Arial;
  font-weight: bold;
  content: "N";
  font-size: 40px;
}
.layout {
  margin-left: 300px;
}
.mainHeader {
  margin-bottom: 50px;
  margin-top: 50px;
}

/* MainContainer */

.CardContainer {
  padding: 3rem;
}
.CardImage {
  float: left;
  margin-top: 0px;
  width: 120px;
  height: 120px;
  margin-right: 60px;
}
.blogCard {
  margin-bottom: 3rem !important;
}

h2 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 20px;
  padding-top: 10px;
}
h3 {
  font-size: 15px;
  margin: 0;
}
.Media-component span:after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #8f8f8f;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  top: -3px;
}

/* RightSIde */

.Oddments {
  margin-top: 100px;
}

.weather-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 20px;
}

time {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

.NavBar {
  display: none;
  border: 10px;
  border-color: black;
  background-color: #5fcb71;
  width: 100%;
  height: 70px;
  color: #fff;
  position: relative;
}
.mobile-title {
  text-align: center;
  padding-top: 20px;
}

.create_button {
  margin-top: 100px;
  margin-left: 20%;
  border-radius: 10%;
  background-color: #5fcb71;
  border-color: white;
  color: #fff;
  font-weight: bold;
}
ul {
  margin: 0px;
}
/* CreatePage */
form {
  height: 100%;
  padding: 30px;
}
.title {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  font-size: 30px;
  margin-top: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 30px;
  padding-top: 20px;
}
.description {
  outline: none;
  resize: none;
  height: 800px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;

  border-top: none;
  border-left: none;
  border-right: none;
  overflow: hidden;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}

.title:focus {
  outline: none !important;
  border-top: none;
  border-left: none;
  border-right: none;
}
.btn {
  float: right;
}
.Media-component .fspan:after {
  display: none;
}

.titleLink {
  color: black;
}
.PPTitle {
  padding-bottom: 130px;
  border-bottom: 1px solid grey;
}
.PPDescription {
  padding: 70px;
  line-height: 30px;
  border-bottom: 1px grey solid;
  min-height: 500px;
}

input {
  display: block;
}
textarea {
  resize: none;
}
.comment_author {
  width: 126px;
  height: 28px;
  line-height: 29px;
  padding: 2px 12px 0;
  font-size: 12px;
  vertical-align: top;
  margin-bottom: 10px;
}
.comment_author:focus {
  outline: #111;
}
.comment_input {
  width: 956px;
  height: 78px;
  padding: 13px;
  border: 1px solid #cecdce;
  background: #fff;
  font-size: 13px;
  color: #333;
  line-height: 18px;
}

.comment_wrapper {
  margin-left: 30px;
  border-bottom: 2px black solid;
}
.comment {
  min-height: 100px;
  padding-top: 20px;
}
.author {
  margin-top: 20px;
}
.Loginbtn {
  color: black;
}

.post_author {
  float: left;
  padding-bottom: 10px;
  font-size: 20px;
}

/* LoginPage */
.LoginWrapper {
  width: 500px;
  background-color: gainsboro;
  margin: 0 auto;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 50px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 20px;
}
.LoginTitle {
  margin-bottom: 40px;
}
.input_for_login {
  height: 68px;
  padding: 0 25px 0 25px;
  display: block;
  width: 100%;
  background: transparent;
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  outline: none;
  border: 2px solid white;
}
.LoginBtn {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border: 2px solid white;
  background-color: lavender;
  font-size: 20px;
}
.mt-15 {
  margin-top: 15px;
}
.postimage {
  max-width: 400px;
  text-align: center;
  margin: 20px auto;
  display: block;
}
/* Mobile */

@media screen and (max-width: 900px) {
  header {
    display: none;
  }
  .layout {
    margin-left: 0;
  }

  .NavBar {
    display: block;
  }
  .mainHeader {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  form {
    padding: 0px;
  }
  h2 {
    display: block;
  }
  img {
    padding: 20px;
  }
  span {
    font-size: 10px;
  }
  h3 {
    padding-top: 20px;
  }
  .PPDescription {
    padding: 10px;
  }
  .LoginWrapper {
    width: 330px;
    margin-top: 20px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .CardContainer {
    padding: 10px;
  }
  .btn {
    width: 25%;
    font-size: 13px;
    float: right;
    margin-top: 10px;
  }
  .post_author {
    font-size: 30%;
    margin-top: 20px;
    padding: 0px;
  }
  .comment_wrapper {
    margin: 0px;
  }
}
